<% include ../../Elements/sidenav %>    
        <div class="content-i">
                <div class="content-box" style="height: 1388px;">
                    <div class="row">
                        <div class="col-sm-12">
                            
                                <div class="row">
                                        <div class="col-sm-3">
                                        <a href="/setting/ManageClass/view">
                                          <div class="element-box infodash primary centered padded">
                                            <div class="bg-icon">
                                                <i class="os-icon picons-thin-icon-thin-0710_business_tie_user_profile_avatar_man_male"></i>
                                            </div>
                                                <div class="value">
                                                </div>
                                                <div class="label"> Manage Class </div>
                                            </div>
                                        </a>
                                        </div>
                            <div class="col-sm-3">
                             <a href="/setting/ManageBatch/view">
                              <div class="element-box infodash secondary centered padded">
                                <div class="bg-icon">
                                <i class="os-icon picons-thin-icon-thin-0704_users_profile_group_couple_man_woman"></i>
                                </div>
                                <div class="value">
                                 </div>
                                <div class="label">Manage Batch</div>
                              </div>
                             </a>
                            </div>

                            
                            
                          </div>

                        </div>
                    </div>
                </div>
        </div>

        <% include ../../Elements/footers %>