            <% include ../Elements/sidenav %>
                <div class="content-i">
                        <div class="content-box">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="myCarousel" class="carousel slide m-b" data-ride="carousel">
                                            <ol class="carousel-indicators">
                                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                                <li data-target="#myCarousel" data-slide-to="2"></li>
                                            </ol>
                                            <div class="carousel-inner">
                                                <div class="item active">
                                                    <img src="http://wsg.com.gt/demo/uploads/slider/slider1.png" alt="Slider 1" style="width:100%;">
                                                </div>
                                                <div class="item">
                                                    <img src="http://wsg.com.gt/demo/uploads/slider/slider2.png" alt="Slider 2" style="width:100%;">
                                                </div>
                                                <div class="item">
                                                    <img src="http://wsg.com.gt/demo/uploads/slider/slider3.png" alt="Slider 3" style="width:100%;">
                                                </div>                      
                                                <a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
                                                <a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3">
                                            <div class="element-box infodash primary centered padded">
                                                <div class="bg-icon">
                                                    <i class="os-icon picons-thin-icon-thin-0710_business_tie_user_profile_avatar_man_male"></i>
                                                </div>
                                                    <div class="value">
                                                    4                            </div>
                                                    <div class="label">Admins</div>
                                                </div>
                                            </div>
                                <div class="col-sm-3">
                                  <div class="element-box infodash secondary centered padded">
                                    <div class="bg-icon">
                                    <i class="os-icon picons-thin-icon-thin-0704_users_profile_group_couple_man_woman"></i>
                                    </div>
                                    <div class="value">
                                      10                            </div>
                                    <div class="label">Teachers</div>
                                  </div>
                                </div>
                                <div class="col-sm-3">
                                  <div class="element-box infodash green centered padded">
                                    <div class="bg-icon">
                                    <i class="os-icon picons-thin-icon-thin-0729_student_degree_science_university_school_graduate"></i>
                                    </div>
                                    <div class="value">
                                      14                            </div>
                                    <div class="label">Students</div>
                                  </div>
                                </div>
                                <div class="col-sm-3">
                                  <div class="element-box infodash orange centered padded">
                                    <div class="bg-icon">
                                    <i class="os-icon picons-thin-icon-thin-0703_users_profile_group_two"></i>
                                    </div>
                                    <div class="value">
                                      11                            </div>
                                    <div class="label">Parents</div>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>
                        
                        <div class="row m-t">
                        <div class="col-sm-8">
                        <div class="element-wrapper">
                        <div class="pipeline white lined-primary">
                        <div class="pipeline-header"><h5 class="pipeline-name"> Noticeboard</h5></div>
                        <div class="row">
                                             
                                             <div class="col-sm-4">
                           <a href="#"> <div class="pipeline white lined-primary" style="padding:0px;-webkit-animation:none;">
                            <div style="margin:0px;padding:0px;top:0px;background-image:url(http://wsg.com.gt/demo/uploads/news_images/ceebf2f0ef.jpg);background-size:cover;background-repeat:no-repeat;height:150px;"></div>
                              <div class="pipeline-header" style="margin-top:-7rem;padding:1.5rem;">
                                <h5 class="pipeline-name" style="background:rgba(0, 0, 0, 0.4);color:white">Science Fair</h5>
                                <div class="pipeline-header-numbers" >
                                  <div class="pipeline-count" style="background:rgba(0, 0, 0, 0.4);color:white">
                                    21, Aug 2017                          </div>
                                  <div class="text-right">
                                                                                                <a class="btn btn-round btn-sm btn-secondary text-left" style="text-transform:uppercase;color:white;">Event</a>
                                                              </div>
                                </div>
                              </div>
                                  <div style="padding:0 1.5rem 1.5rem 1.5rem;">
                                    <p>Etiam maximus ligula quam, eget consequat neque fringilla sed. Aenean ...</p>
                                  </div>
                                </div></a>
                                </div>
                        
                                   <div class="col-sm-4">
                           <a href="#"> <div class="pipeline white lined-primary" style="padding:0px;-webkit-animation:none;">
                            <div style="margin:0px;padding:0px;top:0px;background-image:url(http://wsg.com.gt/demo/uploads/news_images/ceebf2f0ef.jpg);background-size:cover;background-repeat:no-repeat;height:150px;"></div>
                              <div class="pipeline-header" style="margin-top:-7rem;padding:1.5rem;">
                                <h5 class="pipeline-name" style="background:rgba(0, 0, 0, 0.4);color:white">Science Fair</h5>
                                <div class="pipeline-header-numbers" >
                                  <div class="pipeline-count" style="background:rgba(0, 0, 0, 0.4);color:white">
                                    21, Aug 2017                          </div>
                                  <div class="text-right">
                                                                                                <a class="btn btn-round btn-sm btn-secondary text-left" style="text-transform:uppercase;color:white;">Event</a>
                                                              </div>
                                </div>
                              </div>
                                  <div style="padding:0 1.5rem 1.5rem 1.5rem;">
                                    <p>Etiam maximus ligula quam, eget consequat neque fringilla sed. Aenean ...</p>
                                  </div>
                                </div></a>
                                </div>
                        
                                             <div class="col-sm-4">
                           <a href="#"> <div class="pipeline white lined-success" style="padding:0px;-webkit-animation:none;">
                            <div style="margin:0px;padding:0px;top:0px;background-image:url(http://wsg.com.gt/demo/uploads/news_images/c6307d2dd8.jpg);background-size:cover;background-repeat:no-repeat;height:150px;"></div>
                              <div class="pipeline-header" style="margin-top:-7rem;padding:1.5rem;">
                                <h5 class="pipeline-name" style="background:rgba(0, 0, 0, 0.4);color:white">No classes</h5>
                                <div class="pipeline-header-numbers" >
                                  <div class="pipeline-count" style="background:rgba(0, 0, 0, 0.4);color:white">
                                    21, Aug 2017                          </div>
                                  <div class="text-right">
                                                                    <a class="btn btn-round btn-sm btn-primary text-left" style="text-transform:uppercase;color:white;">News</a>
                                                                                          </div>
                                </div>
                              </div>
                                  <div style="padding:0 1.5rem 1.5rem 1.5rem;">
                                    <p>Etiam maximus ligula quam, eget consequat neque fringilla sed. Aenean ...</p>
                                  </div>
                                </div></a>
                                </div>
                                            </div><div class="legendy"><span><a class="btn btn-rounded btn-sm btn-primary" style="text-transform:uppercase;color:white;" href="#">View more</a></span></div>
                            </div>
                           </div>
                           </div>
                           <div class="col-sm-4">
                           <div class="element-wrapper">
                            <div class="pipeline white lined-success">
                                <div class="pipeline-header">
                                    <h5 class="pipeline-name">
                                      Online users <br><small>(Last 5 minutes)</small>
                                    </h5>
                                  </div>
                                            
                                <div class="full-chat-w">
                                <div class="full-chat-middle">
                                <div class="chat-content-w min">
                                <div class="chat-content min">  
                                    <div class="users-list-w">
                                                                        <div class="user-w with-status min status-green">
                                                <div class="user-avatar-w min">
                                                    <div class="user-avatar" >
                                                        <img alt="" src="#">
                                                    </div>
                                                </div>
                                                <div class="user-name">
                                                    <h6 class="user-title min">Steve Jobss</h6>
                                                    <div class="user-role min">
                                                                                                                                                                                                            <a class="btn btn-sm btn-rounded btn-primary" href="#">Admin</a>
                                                                                                                                                    </div>
                                                </div>            
                                                <div class="user-action min">
                                                                                                <a href="#message_new/YWRtaW4tMQ=="><i class="os-icon picons-thin-icon-thin-0319_email_mail_post_card" style="font-weight:bold"></i></a>
                                                </div>
                                            </div>
                                                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div> 
                        </div>
                        </div>   
                        <div class="row">
                        <div class="col-sm-4">
                        <div id="panel">
                          <div class="element-wrapper">
                        <form   method="post" accept-charset="utf-8">
                                                                      <div class="pipeline white lined-warning">
                        <div class="pipeline-header">
                        <h5 class="pipeline-name">How was your day?</h5>
                        <div class="pipeline-header-numbers">
                        <div class="pipeline-count">21 Aug, 2017</div>
                        <div class="text-right">
                        <a class="btn btn-round btn-sm btn-warning text-left" style="text-transform:uppercase;color:white;">Polls</a>
                        </div>
                        </div>
                        </div>
                        <div class="element-box-content example-content">
                                <div class="row">
                                  <div class="col-sm-12">
                        <div class="os-progress-bar">
                          <div class="bar-labels">
                            <div class="bar-label-left">
                                                  <span>Good</span>
                            </div>
                                                <div class="bar-label-right">
                              <span class="color-primary">0/100%</span>
                            </div>
                          </div>         
                          <div class="progress">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="33" class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 0%"></div>
                          </div>
                        </div>
                        </div>
                                    </div>
                                  <div class="row">
                                  <div class="col-sm-12">
                        <div class="os-progress-bar">
                          <div class="bar-labels">
                            <div class="bar-label-left">
                                                  <span>Nice</span>
                            </div>
                                                <div class="bar-label-right">
                              <span class="color-primary">0/100%</span>
                            </div>
                          </div>         
                          <div class="progress">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="33" class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 0%"></div>
                          </div>
                        </div>
                        </div>
                                    </div>
                                  <div class="row">
                                  <div class="col-sm-12">
                        <div class="os-progress-bar">
                          <div class="bar-labels">
                            <div class="bar-label-left">
                                                  <span>Very good</span>
                            </div>
                                                <div class="bar-label-right">
                              <span class="color-primary">100/100%</span>
                            </div>
                          </div>         
                          <div class="progress">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="33" class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%"></div>
                          </div>
                        </div>
                        </div>
                                    </div>
                                    </div>
                        </div>
                                          </div>
                        </form>                </div>
                        </div>
                          
                        <div class="col-sm-8">
                          <div class="element-wrapper">
                            <div class="pipeline white lined-secondary">
                        <div class="pipeline-header">
                        <h5 class="pipeline-name">Pending users</h5>
                        </div>
                        <div class="full-chat-w">
                        <div class="full-chat-middle">
                        <div class="chat-content-w min">
                        <div class="chat-content min">
                        <div class="users-list-w">
                              <div class="user-w">
                        <div class="user-avatar-w">
                        <div class="user-avatar">
                          <img alt="" src="#">
                        </div>
                        </div>
                        <div class="user-name">
                        <h6 class="user-title">Sr. Teacher demo</h6>
                        <div class="user-role">
                                                                                            <a class="btn btn-sm btn-rounded btn-success" href="#">Teacher</a>
                                            </div>
                        </div>              
                        <div class="user-action min">
                        <a href="#"><i class="os-icon picons-thin-icon-thin-0701_user_profile_avatar_man_male" style="font-weight:bold"></i></a>
                        </div>
                        </div>
                            <div class="user-w">
                        <div class="user-avatar-w">
                        <div class="user-avatar">
                          <img alt="" src="#">
                        </div>
                        </div>
                        <div class="user-name">
                        <h6 class="user-title">Sr. Student demo</h6>
                        <div class="user-role">
                                                    <a class="btn btn-sm btn-rounded btn-secondary" href="#">Student</a>
                                                                                    </div>
                        </div>              
                        <div class="user-action min">
                        <a href="#"><i class="os-icon picons-thin-icon-thin-0701_user_profile_avatar_man_male" style="font-weight:bold"></i></a>
                        </div>
                        </div>
                                </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                          </div>
                        </div>
                        </div>
                        </div>   
                </div>          
            <% include ../Elements/footers %>