<% include ../Elements/sidenav %>    
        <div class="content-i">
                <div class="content-box" style="height: 1388px;">
                    <div class="row">
                        <div class="col-sm-12">
                                <div class="row">
                                        <div class="col-sm-3">
                                        <a href="/viewStudent">
                                          <div class="element-box infodash primary centered padded">
                                            <div class="bg-icon">
                                                <i class="os-icon picons-thin-icon-thin-0710_business_tie_user_profile_avatar_man_male"></i>
                                            </div>
                                                <div class="value">
                                                </div>
                                                <div class="label">Students</div>
                                            </div>
                                        </a>
                                        </div>
                            <div class="col-sm-3">
                             <a href="/ViewParents">
                              <div class="element-box infodash secondary centered padded">
                                <div class="bg-icon">
                                <i class="os-icon picons-thin-icon-thin-0704_users_profile_group_couple_man_woman"></i>
                                </div>
                                <div class="value">
                                 </div>
                                <div class="label">Parents</div>
                              </div>
                             </a>
                            </div>
                            <div class="col-sm-3">
                              <a href="/ViewPrevious_Education">
                                <div class="element-box infodash green centered padded">
                                  <div class="bg-icon">
                                  <i class="os-icon picons-thin-icon-thin-0729_student_degree_science_university_school_graduate"></i>
                                  </div>
                                  <div class="value">
                                   </div>
                                  <div class="label">Pevious Education</div>
                                </div>
                              </a>
                            </div>
                            <div class="col-sm-3">
                             <a href="/View_addtion">
                              <div class="element-box infodash orange centered padded">
                                <div class="bg-icon">
                                <i class="os-icon picons-thin-icon-thin-0703_users_profile_group_two"></i>
                                </div>
                                <div class="value">
                                  </div>
                                <div class="label">Addtional Information</div>
                              </div>
                             </a>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
        </div>

        <% include ../Elements/footers %>