<% include ../Elements/sidenav %>    
        <div class="content-i">
                <div class="content-box" style="height: 1388px;">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- content Here  -->
                            <div class="row">
                                    <div class="col-sm-3">
                                        <a href="/library/view">
                                            <div class="element-box infodash primary centered padded">
                                                <div class="bg-icon">
                                                    <i class="os-icon picons-thin-icon-thin-0710_business_tie_user_profile_avatar_man_male"></i>
                                                </div>
                                                    <div class="value" style="font-size: 29px">
                                                            Manage Books
                                                    </div>
                                                 <div class="label">Manage library books</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-3">
                                            <a href="/library/search">
                                                <div class="element-box infodash green centered padded">
                                                    <div class="bg-icon">
                                                        <i class="os-icon picons-thin-icon-thin-0710_business_tie_user_profile_avatar_man_male"></i>
                                                    </div>
                                                        <div class="value" style="font-size: 30px">
                                                                Search book
                                                            
                                                        </div>
                                                     <div class="label">Search for a book here</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                                <a href="/viewStudent">
                                                    <div class="element-box infodash orange centered padded">
                                                        <div class="bg-icon">
                                                            <i class="os-icon picons-thin-icon-thin-0710_business_tie_user_profile_avatar_man_male"></i>
                                                        </div>
                                                            <div class="value" style="font-size: 30px">
                                                                    Issue books
                                                            </div>
                                                         <div class="label">Issue books here</div>
                                                    </div>
                                                </a>
                                        </div>
                                        <div class="col-sm-3">
                                                <a href="/viewStudent">
                                                    <div class="element-box infodash secondary centered padded">
                                                        <div class="bg-icon">
                                                            <i class="os-icon picons-thin-icon-thin-0710_business_tie_user_profile_avatar_man_male"></i>
                                                        </div>
                                                            <div class="value" style="font-size: 30px">
                                                                Return book
                                                            </div>
                                                         <div class="label">Manage book returns</div>
                                                    </div>
                                                </a>
                                        </div>
                                        <div class="col-sm-3">
                                                <a href="/viewStudent">
                                                    <div class="element-box infodash primary centered padded">
                                                        <div class="bg-icon">
                                                            <i class="os-icon picons-thin-icon-thin-0710_business_tie_user_profile_avatar_man_male"></i>
                                                        </div>
                                                            <div class="value" style="font-size: 25px">
                                                                    Manage barcode
                                                            </div>
                                                         <div class="label">Manage book's barcode</div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-sm-3">
                                                    <a href="/viewStudent">
                                                        <div class="element-box infodash green centered padded">
                                                            <div class="bg-icon">
                                                                <i class="os-icon picons-thin-icon-thin-0710_business_tie_user_profile_avatar_man_male"></i>
                                                            </div>
                                                                <div class="value" style="font-size:29px">
                                                                        Library setting                                                                    
                                                                </div>
                                                             <div class="label">Initial library setting for classes</div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col-sm-3">
                                                        <a href="/viewStudent">
                                                            <div class="element-box infodash orange centered padded">
                                                                <div class="bg-icon">
                                                                    <i class="os-icon picons-thin-icon-thin-0710_business_tie_user_profile_avatar_man_male"></i>
                                                                </div>
                                                                    <div class="value" style="font-size: 29px">
                                                                            Movement Log
                                                                    </div>
                                                                 <div class="label">Issued/Renewed Book Status</div>
                                                            </div>
                                                        </a>
                                                </div>
                                                <div class="col-sm-3">
                                                        <a href="/viewStudent">
                                                            <div class="element-box infodash secondary centered padded">
                                                                <div class="bg-icon">
                                                                    <i class="os-icon picons-thin-icon-thin-0710_business_tie_user_profile_avatar_man_male"></i>
                                                                </div>
                                                                    <div class="value" style="font-size: 30px">
                                                                        Book renewal
                                                                    </div>
                                                                 <div class="label">Renew books here</div>
                                                            </div>
                                                        </a>
                                                </div>
                                                <div class="col-sm-3">
                                                        <a href="/viewStudent">
                                                            <div class="element-box infodash primary centered padded">
                                                                <div class="bg-icon">
                                                                    <i class="os-icon picons-thin-icon-thin-0710_business_tie_user_profile_avatar_man_male"></i>
                                                                </div>
                                                                    <div class="value" style="font-size: 25px;padding: 0.5">
                                                                            Additional Details
                                                                    </div>
                                                                 <div class="label">Additional details
                                                                    </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-3">
                                                            <a href="/viewStudent">
                                                                <div class="element-box infodash green centered padded">
                                                                    <div class="bg-icon">
                                                                        <i class="os-icon picons-thin-icon-thin-0710_business_tie_user_profile_avatar_man_male"></i>
                                                                    </div>
                                                                        <div class="value" style="font-size: 30px">
                                                                                Library fines
                                                                            
                                                                        </div>
                                                                     <div class="label">Library fines</div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="col-sm-3">
                                                                <a href="/viewStudent">
                                                                    <div class="element-box infodash orange centered padded">
                                                                        <div class="bg-icon">
                                                                            <i class="os-icon picons-thin-icon-thin-0710_business_tie_user_profile_avatar_man_male"></i>
                                                                        </div>
                                                                            <div class="value" style="font-size: 30px">
                                                                                    Manage Tags
                                                                            </div>
                                                                         <div class="label">Manage Tags</div>
                                                                    </div>
                                                                </a>
                                                        </div>
                                                        
                            </div>
                            <!-- End Here -->
                        </div>
                    </div>
                </div>
        </div>
                        
<% include ../Elements/footers %>