<% include ../Elements/sidenav %>    
        <div class="content-i">
                <div class="content-box" style="height: 1388px;">
                    <div class="row">
                        <div class="col-sm-12">
<h3>Search Books</h3>
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-8">
                               <select name="" id="">
                                   <option value="title"></option>
                               </select>
                            </div>
                            <div class="col-md-2">

                            </div>
                            
</div>
</div>
</div>
</div>

<% include ../Elements/footers %>