<div class="footy padded">
        <div class="schoollogo">
        <img alt="" src="#"><span>Aswamsoftware</span>
        </div>
        <div class="schoolinfo">
        <span>info@Aswamsoftware.com</span><span> +91 7777 6666</span><a href="https://facebook.com" target="_blank"><i class="picons-social-icon-facebook"></i></a><a href="https://www.twitter.com" target="_blank"><i class="picons-social-icon-twitter"></i></a><a href="https://www.instagram.com" target="_blank"><i class="picons-social-icon-instagram"></i></a><a href="https://youtube.com" target="_blank"><i class="picons-social-icon-youtube"></i></a>
        </div>
    </div>
    </div>

</div>
<div class="display-type"></div>
</div>
   

<div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade bd-example-modal-lg" role="dialog" tabindex="-1" id="exampleModal">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="margin-top:250px;"> 
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">  PRO</h5>
            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
        </div>        
        <div class="modal-body">
        </div>
    </div>
</div>
</div>    <link rel="stylesheet" href="/css/bootstrap-wysihtml5.css">

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/select2.full.min.js"></script>
<script src="/js/ckeditor.js"></script>
<script src="/js/daterangepicker.js"></script>
<script src="/js/dropzone.js"></script>
<script src="/js/mindmup-editabletable.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap.min.js"></script>
<script src="/js/fullcalendar.min.js"></script>
<script src="/js/perfect-scrollbar.jquery.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/tab.js"></script>
<script src="/js/main.js"></script>
<script src="/js/toastr.js"></script>
<script src="/js/dragula.min.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/custom-file-input.js"></script>
<script src="/js/tooltip.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/dataTables.bootstrap4.min.js"></script>
<script src="/js/tinymce.min.js"></script>
<script src="/js/bootstrap-clockpicker.min.js"></script>




<script type="text/javascript">
function readSlide1(input) 
{
if (input.files && input.files[0]) 
{
    var reader = new FileReader();
    reader.onload = function (e) 
    {
        $('#slider1').attr('src', e.target.result);
    }        
    reader.readAsDataURL(input.files[0]);
}
}
$("#slider1prev").change(function()
{
readSlide1(this);
}); 
</script>

<script type="text/javascript">
function readSlide2(input) 
{
if (input.files && input.files[0]) 
{
    var reader = new FileReader();
    reader.onload = function (e) 
    {
        $('#slider2').attr('src', e.target.result);
    }        
    reader.readAsDataURL(input.files[0]);
}
}
$("#slider2prev").change(function()
{
readSlide2(this);
}); 
</script>

<script type="text/javascript">
function readSlide3(input) 
{
if (input.files && input.files[0]) 
{
    var reader = new FileReader();
    reader.onload = function (e) 
    {
        $('#slider3').attr('src', e.target.result);
    }        
    reader.readAsDataURL(input.files[0]);
}
}
$("#slider3prev").change(function()
{
readSlide3(this);
}); 
</script>



</body>
</html>