
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Dashboard | School Management Systems</title>
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="GuateApps" name="author">
    <meta content="EduAppGT PRO - School Management System" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <link href="/fonts/piconsthin.woff2?lkhde6" rel="stylesheet" type="text/css">
    
    <link href="/css/select2.min.css" rel="stylesheet">
    <link href="/css/bootstrap-clockpicker.min.css" rel="stylesheet">
    <link href="/css/daterangepicker.css" rel="stylesheet">
    <link href="/css/dropzone.css" rel="stylesheet">
    <link href="/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/css/fullcalendar.min.css" rel="stylesheet">
    <link href="/css/perfect-scrollbar.min.css" rel="stylesheet">
    <link href="/css/simple-line-icons.css" rel="stylesheet">
    <link href="/css/style1.css" rel="stylesheet">
    <link href="/css/style2.css" rel="stylesheet">
    <link href="/css/dragula.min.css" rel="stylesheet">
    <script src="/js/jquery-1.11.0.min.js"></script> 
</head>
<body>
    
	<div class="all-wrapper menu-side with-side-panel">
    	<div class="layout-w">
			<div class="menu-mobile menu-activated-on-click color-scheme-dark">
                <div class="mm-logo-buttons-w">
                    <div class="mm-buttons">
                        <div class="mobile-menu-trigger">
                            <div class="os-icon os-icon-hamburger-menu-1"></div>
                        </div>
                    </div>
    
                    <div class="logy-user">
                        <div class="logged-user-i">
                            <div class="avatar-w">
                                <img alt="" src="#">
                            </div>
                            <div class="logged-user-menu">
                                <div class="logged-user-avatar-info">
                                    <div class="avatar-w">
                                        <img alt="" src="#">
                                    </div>
                                    <div class="logged-user-info-w">
                                        <div class="logged-user-name">Arun Jobs</div>
                                        <div class="logged-user-role">E  </div>
                                    </div>
                                </div>
                                <div class="bg-icon">
                                    <i class="os-icon picons-thin-icon-thin-0710_business_tie_user_profile_avatar_man_male"></i>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="os-icon picons-thin-icon-thin-0701_user_profile_avatar_man_male"></i><span>Profile</span></a>
                                    </li>
                                    <li><a href="users/logout"><i class="os-icon picons-thin-icon-thin-0040_exit_logout_door_emergency_outside"></i><span>Logout</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-and-user">
                    <div class="logy-user-m hidden-sm-down">
                        <div class="logged-user-i">
                            <div class="avatar-w">
                                <img alt="" src="#">
                            </div>
                            <div class="logged-user-menu">
                                <div class="logged-user-avatar-info">
                                    <div class="avatar-w">
                                        <!-- <img alt="" src="#"> -->
                                    </div>
                                    <div class="logged-user-info-w">
                                        <div class="logged-user-name">Arun Jobs333       </div>
                                        <div class="logged-user-role"> SWD   </div>
                                    </div>
                                </div>
                                <div class="bg-icon">
                                    <i class="os-icon picons-thin-icon-thin-0710_business_tie_user_profile_avatar_man_male"></i>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="os-icon picons-thin-icon-thin-0701_user_profile_avatar_man_male"></i><span>Profile</span></a>
                                    </li>
                                    <li><a href="#"><i class="os-icon picons-thin-icon-thin-0040_exit_logout_door_emergency_outside"></i><span>Logout</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="main-menu">
                        <li class="main-menu active">
                            <a href="#">
                                <div class="icon-w">
                                    <div class="os-icon picons-thin-icon-thin-0045_home_house"></div>
                                </div>
                            <span>Dashboards</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="picons-thin-icon-thin-0322_mail_post_box"></div>
                            </div>
                            <span>Messages</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                                <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0704_users_profile_group_couple_man_woman"></div>
                            </div>
                            <span>Users</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                                <div class="icon-w">
                                    <div class="picons-thin-icon-thin-0019_mobile_iphone"></div>
                                </div>
                            <span>Notifications</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                                <div class="icon-w">
                                    <div class="os-icon picons-thin-icon-thin-0714_identity_card_photo_user_profile"></div>
                                </div>
                            <span>Information</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                                <div class="icon-w">
                                    <div class="os-icon picons-thin-icon-thin-0007_book_reading_read_bookmark"></div>
                                </div>
                            <span>Marks</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                                <div class="icon-w">
                                    <div class="os-icon picons-thin-icon-thin-0023_calendar_month_day_planner_events"></div>
                                </div>
                            <span>Attendance</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0024_calendar_month_day_planner_events"></div>
                            </div>
                            <span>Schedules</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0010_newspaper_reading_news"></div>
                            </div>
                            <span>Noticeboard</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0017_office_archive"></div>
                            </div>
                            <span>Library</span></a>
                        </li>           
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0008_book_reading_read_manual"></div>
                            </div>
                            <span>Syllabus</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0389_gavel_hammer_law_judge_court"></div>
                            </div>
                            <span>Behavior</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0426_money_payment_dollars_coins_cash"></div>
                            </div>
                            <span>Accounting</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0111_folder_files_documents"></div>
                            </div>
                            <span>Teacher files</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0047_home_flat"></div>
                            </div>
                            <span>Classrooms</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0470_bus_transport"></div>
                            </div>
                            <span>School bus</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0385_graph_pie_chart_statistics"></div>
                            </div>
                            <span>Polls</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0050_settings_panel_equalizer_preferences"></div>
                            </div>
                            <span>System Settings</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0006_book_writing_reading_read_manual"></div>
                            </div>
                            <span>Academic Settings</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="desktop-menu menu-side-w menu-activated-on-click color-scheme-dark">
                <div class="logo-w">
                    <a class="logo" href="#"><img src="#"></a>          
                </div>
                <div class="menu-and-user">
                    <div class="logged-user-w">
                        <div class="logged-user-i">
                            <div class="avatar-w"><img alt="" src="#"></div>
                            <div class="logged-user-info-w">
                                <div class="logged-user-name">Steve Jobs Test</div>
                                <div class="logged-user-role">Admin   </div>
                            </div>
                            <div class="logged-user-menu">
                                <div class="logged-user-avatar-info">
                                    <div class="avatar-w">
                                        <img alt="" src="#">
                                    </div>
                                    <div class="logged-user-info-w">
                                        <div class="logged-user-name">Steve Jobssss    </div>
                                        <div class="logged-user-role"> Admin    </div>
                                    </div>
                                </div>
                                <div class="bg-icon">
                                    <i class="os-icon picons-thin-icon-thin-0710_business_tie_user_profile_avatar_man_male"></i>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="os-icon picons-thin-icon-thin-0701_user_profile_avatar_man_male"></i><span>Profile</span></a>
                                    </li>
                                    <li><a href="#"><i class="os-icon picons-thin-icon-thin-0040_exit_logout_door_emergency_outside"></i><span>Logout</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="main-menu">
                        <li class="main-menu active">
                            <a href="/">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0045_home_house"></div>
                            </div>
                            <span>Dashboard</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="/addmission">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0322_mail_post_box"></div>
                            </div>
                            <span>Addmision</span></a>
                        </li>
                        <li class="main-menu ">
                                            <a href="/views">
                                                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0704_users_profile_group_couple_man_woman"></div>
                            </div>
                            <span>View</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="/setting">
                            <div class="icon-w">
                                <div class="picons-thin-icon-thin-0019_mobile_iphone"></div>
                            </div>
                            <span>Settings</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="/library">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0714_identity_card_photo_user_profile"></div>
                            </div>
                            <span>Library</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0007_book_reading_read_bookmark"></div>
                            </div>
                            <span>Marks</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0023_calendar_month_day_planner_events"></div>
                            </div>
                            <span>Attendance</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0024_calendar_month_day_planner_events"></div>
                            </div>
                            <span>Schedules</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0010_newspaper_reading_news"></div>
                            </div>
                            <span>Noticeboard</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0017_office_archive"></div>
                            </div>
                            <span>Library</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0008_book_reading_read_manual"></div>
                            </div>
                            <span>Syllabus</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0389_gavel_hammer_law_judge_court"></div>
                            </div>
                            <span>Behavior</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0426_money_payment_dollars_coins_cash"></div>
                            </div>
                            <span>Accounting</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0111_folder_files_documents"></div>
                            </div>
                            <span>Teacher files</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0047_home_flat"></div>
                            </div>
                            <span>Classrooms</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0470_bus_transport"></div>
                            </div>
                            <span>School bus</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0385_graph_pie_chart_statistics"></div>
                            </div>
                            <span>Polls</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0050_settings_panel_equalizer_preferences"></div>
                            </div>
                            <span>System Settings</span></a>
                        </li>
                        <li class="main-menu ">
                            <a href="#">
                            <div class="icon-w">
                                <div class="os-icon picons-thin-icon-thin-0006_book_writing_reading_read_manual"></div>
                            </div>
                            <span>Academic Settings</span></a>
                        </li>
                    </ul>
                </div>
            </div>	
            <div class="content-w">
                <ul class="breadcrumb hidden-xs-down hidden-sm-down">
                    <div class="logoutleft">
                        <span>School Name</span>
                    </div>
                    <div class="logout"><a href="/users/logout"><span>Logout</span><i class="os-icon picons-thin-icon-thin-0040_exit_logout_door_emergency_outside"></i></a></div>
                </ul>